doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/3rdParty/phaser.min.js')
    script(src='/3rdParty/spy.js')
    script(src='/3rdParty/main.js')
  body
    block content
